@model Channel;

@using Task2.HtmlHelpers;
@using Task2.Models.FeedModels;

<div class="rss-feed">
    @if (Model == null)
    {
        <!--Если ничего не выбрано, то ничего не отображать-->
        <div></div>
    }
    else if (Model.Items.Count == 0)
    {
        @Html.CheckError("Не найдено статей в выбранной ленте")
    }
    else
    {
        <h3>RSS-канал: @Model.Title</h3>
        @if (Model.Description != "")
        {
            <h4>Описание: @Model.Description</h4>
        }
        <hr />
        @foreach (Item article in Model.Items)
        {
            <div class="card">
                <div class="card-header">
                    @article.PubDate
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@article.Link" target="_blank">@article.Title</a>
                    </h5>
                    <a class="btn btn-primary" data-toggle="collapse" href="#article_@article.ArticleId" role="button" aria-expanded="false" aria-controle="collapseExample">Описание</a>
                    <div class="collapse" id="article_@article.ArticleId">
                        <p class="article-description">@article.Description</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
