@model Channel;

@using Task2.HtmlHelpers;
@using Task2.Models.FeedModels;
@using Microsoft.AspNetCore.Http;

@{
    // сообщения со стороны сервера (ошибки или информация)
    string error = null;
    if (TempData["ErrorPartial"] != null)
        error = TempData["ErrorPartial"].ToString();

    string message = null;
    if (TempData["MessagePartial"] != null)
        message = TempData["MessagePartial"].ToString();

    // получить выбранный формат вывода описания статей
    bool formatted = false;
    if (Context.Session.GetString("format") == "True")
        formatted = true;
}

<div class="rss-feed">
    @if (Model == null)
    {
        @Html.CheckMessage(message)
        @Html.CheckError(error)
        <!--Если ничего не выбрано, то ничего не отображать-->
        <div></div>
    }
    else if (Model.Items.Count == 0)
    {
        @Html.CheckError("Не найдено статей в выбранной ленте")
    }
    else
    {
        <h3>RSS-канал: @Model.Title</h3>
        <hr />
        @foreach (Item article in Model.Items)
        {
            <div class="card">
                <div class="card-header">
                    @article.PubDate
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@article.Link" target="_blank">@article.Title</a>
                    </h5>
                    <a class="btn btn-primary" data-toggle="collapse" href="#article_@article.ArticleId" role="button" aria-expanded="false" aria-controle="collapseExample">Описание</a>
                    <div class="collapse" id="article_@article.ArticleId">
                        <div class="article-description">
                            @if (formatted)
                            {
                                @Html.Raw(@article.Description)
                            }
                            else
                            {
                                @article.Description
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
