@using Task2.ViewModels;
@using Task2.HtmlHelpers; 

@model FeedViewModel;

@{
    ViewData["Title"] = "RSS-фидер";

    // сообщения со стороны сервера
    string success = null;
    if (TempData["Success"] != null)
        success = TempData["Success"].ToString();

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();
}

<div class="row">
    <!--Блок меню настроек-->
    <div class="col-12">
        <!--Вывести сообщения, если есть-->
        @Html.CheckError(error)
        @Html.CheckSuccess(success)
        
        @if (Model != null)
        {
            <!--Форма выбора ленты-->
            <div class="col-8">
                @using (Html.BeginForm("SetFeed", "Home", FormMethod.Get))
                {
                    <label for="feed">Выберите ленту:</label>
                    <select name="feed">
                        <option value="none">----------</option>
                        @foreach (string feed in Model.Feeds)
                        {
                            <option value="@feed">@feed</option>
                        }
                    </select>
                }
            </div>
            <!--Форма настроек-->
            <div class="col-4">
                @using (Html.BeginForm("UpdateSettings", "Home", FormMethod.Post))
                {
                    @foreach (string feed in Model.Feeds)
                    {
                        <input type="text" name="feedLink" value="@feed" class="feed-link" />
                    }
                    <input type="number" name="updateTime" value="@Model.UpdateTime" />
                    <input type="submit" class="btn btn-primary" value="Сохранить" />
                }
            </div>
        }
    </div>
</div>

